<div class="top-row navbar navbar-dark ps-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TKS</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center gap-2" href="donvitinh">
                <i class="bi bi-rulers d-inline-flex justify-content-center align-items-center" style="width: 20px;"></i>
                Đơn vị tính
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center gap-2" href="loaisanpham">
                <i class="bi bi-tags d-inline-flex justify-content-center align-items-center"></i> Loại sản phẩm
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center gap-2" href="sanpham">
                <i class="bi bi-box-seam d-inline-flex justify-content-center align-items-center"></i> Sản phẩm
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="nhacungcap">
                <i class="bi bi-truck-front d-inline-flex justify-content-center align-items-center"></i> Nhà cung cấp
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="kho">
                <i class="bi bi-box-seam d-inline-flex justify-content-center align-items-center"></i> Kho
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="khouser">
                <i class="bi bi-people d-inline-flex justify-content-center align-items-center"></i> Người dùng kho
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="quan-ly-phieu-nhap">
                <i class="bi bi-clipboard-plus d-inline-flex justify-content-center align-items-center"></i> Quản lý phiếu nhập
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="quan-ly-phieu-xuat">
                <i class="bi bi-clipboard-minus d-inline-flex justify-content-center align-items-center"></i> Quản lý phiếu xuất
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="chi-tiet-hang-nhap">
                <i class="bi bi-journal-arrow-down d-inline-flex justify-content-center align-items-center"></i> Chi tiết hàng nhập
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="chi-tiet-hang-xuat">
                <i class="bi bi-journal-arrow-up d-inline-flex justify-content-center align-items-center"></i> Chi tiết hàng xuất
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="xuat-nhap-ton">
                <i class="bi bi-archive d-inline-flex justify-content-center align-items-center"></i> Chi tiết hàng tồn
            </NavLink>
        </div>

    </nav>
</div>
